<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>SimCo Aerospace Industry</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="navbar">
        <div class="logo">MarketData</div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Prices</a>
                <a href="#">Analytics</a>
                <a href="#">Logout</a>
            </nav>
    </div>

    <div class="container">

        <div class="left">
            <h1 style="text-align:center; font-family: 'Roboto Mono', monospace;">Sales Office</h1>
            <ul class="card-list">
                {% for product in products %}
                    {% with "25428075" as previousid %}
                        {% if product.id == previousid %}
                            <li class="left-li">
                                <p>
                                    <span class="label">Same ID! </span>     
                                </p>
                            </li>
                        {% endif %}
                    {% endwith %}

                    <li class="left-li">ID: {{ product.id }}<br>{{product.kind}}
                        <p>
                            <span class="label">Search Cost: </span>
                            <span class="price">{{product.searchCost}}</span><br>
                            <span class="label">Quantity: </span>
                            <span class="price">{{product.amount}}</span></p>           
                        <p>
                            <span class="label">Selling Price: </span>
                            <span class="price">{{ product.sell_price }}</span><br>
                            <span class="label">Quality: </span>
                            <span class="price">{{ product.qualityBonus }}</span></p>
                        <p>
                            <span class="label">Cost: </span>
                            <span class="price">{{product.purchased_price}}</span><br>
                            <span class="label">Total Terms: </span>
                            <span class="price">{{product.total_terms}}</span></p>
                        <p>
                            <span class="label">Revenue: </span>
                            <span class="price">{{product.revenue}}</span><br>
                            <span class="label">Gross Profit: </span>
                            <span class="price">{{product.gross_profit}}</span></p> 
                        <p>
                            <span class="label">Net Income: </span>
                            <span class="price">{{product.net_income}}</span></p>                      
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="right">
            <h1 style="text-align:center; font-family: 'Roboto Mono', monospace;">Summary</h1>
            <ul class="card-list">
                <li  onclick="window.location='https://www.onlinejobs.ph/jobseekers/job/Python-Programmer-1418068';">
                    <p><span class="label">Total Net Profit: </span>
                        <span class="price">{{total_net_income}}</span><br>
                        <span class="label">Total Gross Profit: </span>
                        <span class="price">{{total_gross_income}}</span></p>
                    <p><span class="label">SEP: </span>
                        <span class="price">{{total_SEP}}</span><br>
                        <span class="label">JUM: </span>
                        <span class="price">{{total_JUM}}</span></p>
                    <p><span class="label">SOR: </span>
                        <span class="price">{{total_SOR}}</span><br>
                        <span class="label">BFR: </span>
                        <span class="price">{{total_BFR}}</span></p>
                    <p><span class="label">LUX: </span>
                        <span class="price">{{total_LUX}}</span><br>
                        <span class="label">SAT: </span>
                        <span class="price">{{total_SAT}}</span></p>
                </li>

                
                    {% for key, value in prices.items %}
                        <li>{{ key }} : {{ value }}</li>
                    {% endfor %}
                
            </ul>

            <h1 style="text-align:center; font-family: 'Roboto Mono', monospace;">Aerospace Product Prices</h1>
            <canvas id="myLineChart" width="400" height="200"></canvas>
        </div>

    </div>

    <script>
        const ctx = document.getElementById('myLineChart').getContext('2d');

        const myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June'],
            datasets: [{
            label: 'Sales',
            data: [{{total_LUX}}, 150, 180, 170, 190, 220],
            borderColor: 'rgba(75, 192, 192, 1)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderWidth: 2,
            tension: 0.3, 
            fill: true    
            }]
        },
        options: {
            responsive: true,
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    </script>

</body>
</html>
